.dragon-images {
  width: 50%;
  margin-right: 20px;
}

.dragon-name {
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bold;
}

.dragon-type {
  margin-bottom: 20px;
}

.dragon-container {
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
  gap: 30px;
}

.dragon-item {
  display: flex;
  margin: 20px 80px;
  gap: 20px;
}

.dragon-details {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.dragon-badge {
  background-color: rgb(37, 177, 187);
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
}

.reservation-button {
  width: 180px;
  background-color: #0290ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  height: 45px;
  font-size: 20px;
}

.dragon-cancel-btn {
  width: 200px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  height: 45px;
  font-size: 20px;
}

.rockets-description {
  font-size: 18px;
  vertical-align: top;
}
