* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.navLink {
  color: blue;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.navDiv,
.link {
  display: flex;
  gap: 20px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-top: 5px;
  padding-bottom: 20px;
}

td,
th {
  border: 1px solid rgb(209, 201, 201);
  text-align: left;
  font-size: 16px;
}

.tableContainer {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.head:nth-child(1) {
  background-color: white;
  height: 40px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.member {
  padding: 0 1%;
}

.member,
.name {
  width: 10%;
}

.desc {
  width: 70%;
}

.missionName {
  font-weight: bold;
}

.join-leave {
  padding: 0 1%;
}

.memberButton,
.activeButton {
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 6px;
  font-size: 12px;
  padding: 4px;
  border: none;
}

.activeButton {
  background-color: rgb(0, 175, 175);
  margin-left: 5%;
}

.joinButton,
.leaveButton {
  color: rgb(136, 136, 136);
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 10px;
}

.leaveButton {
  color: coral;
  border: 2px solid coral;
  padding: 5px;
}

.listsContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.missionList {
  display: flex;
  flex-direction: column;
}

.missionBox {
  border: 1px solid #f2f2f2;
  padding: 15px 0;
}

.missionsDiv {
  width: 33%;
}
